.Home {
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: transparent;
  background-image: url ("../../fondoinicio.jpg") ;
  background-position: center center;
  background-size: 100% 100%;

  color: #0a507e;
  display: flex;
  align-items: center;
}

.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100 ;
  margin: 1px 0 10px 200px;
  padding-Left: 1000;
  padding-right: 100;
  padding-Bottom: 125;

}

.centrado {
  display: flex;
  justify-content: center;
}

.imagen {
 max-width: 500px;
 max-height: 500px;
  overflow: hidden;
  position:relative;
  margin: 100px 100x 100px 100px;
  
}

.imagenfondo{
  background-image: url("./fondoinicio.jpg");
  background-size : cover;
  background-position: 0% 90%;
  background-repeat: no-repeat;
  

   
 }

@media screen and (min-width: 768px) {
  .Home__col {
    align-items: flex-start;
  }
}